/* file for grid.html */

/* Définition du conteneur de grille */
.one .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Deux colonnes de largeur égale */
    grid-gap: 20px;
    /* Espacement de 20 pixels entre les éléments */
    margin: 20px;
}

.two .container {
    display: grid;
    /* Déclare un conteneur de grille */
    grid-template-columns: 1fr 1fr;
    /* Définit deux colonnes de largeur égale */
    grid-template-rows: 50px 50px;
    /* Définit deux lignes de hauteur fixe de 50 pixels */
    grid-gap: 20px;
    /* Espacement de 20 pixels entre les éléments de la grille */
}

/* Style des éléments de la grille */
.item {
    background-color: #e5e5e5;
    /* Couleur de fond des éléments */
    padding: 20px;
    /* Espacement intérieur de 20 pixels */
}

.three .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 250px 50px;
    grid-gap: 20px;
}

.three .item {
    grid-column: 1 / -1;
    text-align: center;
}

/* Classe container */
.four .container {
    display: grid;
    /* Déclare un conteneur de grille */
    grid-template-columns: repeat(12, 1fr);
    /* Définit 12 colonnes de largeur égale */
    grid-template-rows: 80px repeat(4, minmax(0, 1fr));
    /* Définit les hauteurs des lignes */
    gap: 20px;
    /* Espacement de 20 pixels entre les éléments de la grille */
    margin: 1rem;
}

/* Classe couverture */
.cover {
    grid-column: 1 / -1;
    /* Couvre toutes les colonnes */
    grid-row: 1 / 3;
    /* Couvre deux lignes */
    background-color: #c9c9c9;
    /* Couleur de fond */
    text-align: center;
    /* Alignement du texte au centre */
    padding: 20px;
    /* Espacement intérieur */
    font-size: 24px;
    /* Taille de police */
    font-weight: bold;
    /* Gras */
    color: #000;
    /* Couleur du texte */
}