/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* Typo */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 1px;
}

p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* general style */
body {
    padding: 0 2rem;
}

section {
    /* background-color: #83DBFF; */
    margin: .8rem 0;
    width: 100%;
    padding-top: .5rem;
}

.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

.warning {
    border-radius: 5rem;
    background: red;
    color: white;
    padding: .2em;
    font-size: 1.2rem;
}

.btn {
    font-size: 1rem;
    background-color: rgb(128, 47, 47);
    background-image: linear-gradient(to top left,
            rgba(144, 133, 133, 0.2),
            rgba(144, 133, 133, 0.2) 30%,
            rgba(144, 133, 133));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 1.5;
    border-radius: 10px;
    padding: 0 8px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

.btn:active {
    box-shadow:
        inset -2px 2px 3px rgba(255, 255, 255, 0.6),
        inset 2px -2px 3px rgba(0, 0, 0, 0.6);
}

.container-text {
    width: 15rem;
    height: 5rem;
    background: #fff;
    text-align: center;
    padding: 2px;
    box-shadow: #888282 5px 5px 5px;
    letter-spacing: 1px;
}

/* header, nav and footer */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    background-color: #DAE5D3;
    margin-bottom: .8rem;
}

.navbar {
    display: flex;
    /* background: #E48950; */
    width: 50%;
}

ul {
    list-style: none;
    font-size: 1.2rem;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background: #ffaa; */
}

a {
    text-decoration: none;
    color: black;
}

/* articles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #B9EBFF;
    margin: 1rem 0;
    padding-top: .5rem;
    box-shadow: #cbc0c0 0px 0px 2px 5px;
}

/* Items, icons */
.bx {
    background-color: aliceblue;
}

.bx:nth-child(2) {
    background-color: #E48950;
    border: 2px solid black;
}

.bx:nth-child(3) {
    background-color: rgb(189, 211, 76);
}

.bx:nth-child(4) {
    background-color: rgb(76, 211, 164);
}

.bx:nth-child(5) {
    background-color: rgb(76, 175, 211);
}

.bx:nth-child(6) {
    background-color: rgb(211, 76, 186);
}

.bx.bx-run {
    width: 3rem;
    height: 3rem;
    font-weight: bold;
}

/* No flex, is block */
.block {
    display: block;
}

/* footer */
.footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    line-height: 1.8;
    background-color: #83DBFF;
}