/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typo */
html {
    font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 1em;
}

p {
    text-align: center;
}

/* general style */
body {
    padding: 0 2rem;
}

section {
    background-color: #83DBFF;
    margin: .8rem 0;
}

/* header, nav and footer */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    background-color: #DAE5D3;
    margin-bottom: .8rem;
}

.navbar {
    display: flex;
    background: #E48950;
    width: 50%;
}

ul {
    list-style: none;
    font-size: 1.2rem;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #ffaa;
}

a {
    text-decoration: none;
    color: black;
}

/* articles */
.article__flex__direction,
.article__flex__wrap {
    display: grid;
    justify-content: center;
    background-color: #B9EBFF;
    margin: 1rem 0;
}

/* Items, icons */
.bx {
    background-color: aliceblue;
}

.bx:nth-child(2) {
    background-color: #E48950;
    border: 2px solid black;
}

.bx:nth-child(3) {
    background-color: rgb(189, 211, 76);
}

.bx:nth-child(4) {
    background-color: rgb(76, 211, 164);
}

.bx:nth-child(5) {
    background-color: rgb(76, 175, 211);
}

.bx:nth-child(6) {
    background-color: rgb(211, 76, 186);
}

.bx.bx-run {
    width: 3rem;
    height: 3rem;
    font-weight: bold;
}

/* No flex, is block */
.block {
    display: block;
}

/* footer */
.footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    line-height: 1.8;
    background-color: #83DBFF;
}